@font-face {
    font-family: "butter";
    src: url("./BUTTERSHINESCRIPT.ttf") format("truetype");
}

.menu-section-name {
    font-size: 30pt;
    margin-top: 20px;
    font-family: "butter";
    font-weight: 500;
}