@import 'ColorTheme';


.common-footer {
    background-color: $theme-background-color;
    background-image: $theme-background-footer-pattern;
    padding: 30px 0;
    min-height: 50px;
    position: relative;
    color: $theme-text-color;
    margin-top: 10px;
}

.social-div {
    font-family: "butter";
    font-size: 36px;
}

.fa {
    color: $theme-text-color !important;
}