@font-face {
    font-family: "butter";
    src: url("./BUTTERSHINESCRIPT.ttf") format("truetype");
}

@import 'ColorTheme';

.open-times {
    margin-bottom: 0;
}

.open-times span {
    display: none;
}

.open-times p {
    text-align: center;
    color: $theme-text-color !important;
    letter-spacing: 1px;
    font-size: 20px !important;
    position: relative;
    margin-bottom: 0;
    font-family: "butter";
    font-weight: 500;
    background-image: $theme-background-footer-pattern;
}

.open-times p:before {
    font-weight: 700;
}

body.home .open-times p:before {
    display: none;
}

@media all and (min-width: 20.625em) {
    .open-times p {
        font-size: 20px !important;
    }
}

@media all and (min-width: 48.75em) {
    .open-times p {
        font-size: 20px !important;
    }
}



.open-times.alt {
    background: $theme-background-color;
    padding: 2px 0;
    margin: 0;
}

.home-bottom-container {
    background-color: #fcf4e7;
    background-image: url("./texture_pattern_2X.jpg");
    background-size: 125px 125px;
}

.infos-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

#custom-button {
    background-color: $theme-background-color;
    background-image: $theme-background-footer-pattern;
    border-color: $theme-text-color;
    color: $theme-text-color;
    font-family: "butter";
    font-size: 18pt;
    padding-bottom: 3px;
    padding-top: 3px;
}

#custom-button-2 {
    background-color: $theme-background-color;
    background-image: $theme-background-footer-pattern;
    border-color: $theme-text-color;
    color: $theme-text-color;
    font-family: "butter";
    font-size: 18pt;
    padding-bottom: 3px;
    padding-top: 3px;
}